<form>
  <label for="name">Name</label>
  <input #newName type="text" id="name" class="form-control"><br>
  <label for="email">Email</label>
  <input #newEmail type="email" id="email" class="form-control"><br>
  <label for="password">Password</label>
  <input #newPassword type="password" id='password' class="form-control"><br>
  <div class="row">
    <div class="col-xs-11">
      <select #newIcon class="form-control" (change)=iconPreview($event.target.value)>
        <option value="1">Umbrella</option>
        <option value="2">Cat</option>
        <option value="3">Grandfather</option>
        <option value="4">Dog</option>
        <option value="5">Couple</option>
      </select>
    </div>
    <div class="col-xs-1">
      <img [src]="setPreview()" alt="" />
    </div>
  </div>
  <br>
  <button (click)="registerUserButton(newName.value, newEmail.value, newPassword.value, newIcon.value)" class="btn btn-default">Create Account</button>
</form>
