.bubble {
  background: #00933B;
  border-radius: 4px;
  box-shadow: 0 0 6px #222 ;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 2px;
  margin: 10px;
}

.message-box {
  height: 50vh;
  overflow: scroll;
  width: inherit;
  background: white ;
  color: white;
}

.message-bottom-tag {
  font-size: 11px;
}
