{{friend.displayName}}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="bs-example" id="messages">
        <div class="bs-example" id="messages" #scrollMe>
          <div *ngFor="let message of messages | async">
            <div class="bubble">
              <p>{{message.message}}</p>
              <div class="author">
                {{message.from}} | {{message.timestamp | date: "MM/dd/yy hh:mm a"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a class="send-message" (click)="sendMessage()">SEND</a>
      </figure>
    </div>
  </div>
</div>
