<li (click)="getMessages()">{{friend.displayName}}</li>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="bs-example" id="messages">
        <div class="bs-example" id="messages" #scrollMe>
          <div *ngFor="let messageArray of results">
              <div class="bubble">
                  <p>{{ messageArray[1].$value }}</p>
                <div class="author">
                  {{messageArray[0].$value}} | {{messageArray[2].$value | date: "MM/dd/yy hh:mm a"}}
                </div>
            </div>
          </div>
        </div>
      </div>
      <figure class="highlight">
        <input type="textarea" class="message-text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
        <a class="send-message" (click)="sendMessage()">SEND</a>
      </figure>
    </div>
  </div>
</div>
