.bubble {
  background: #00933B;
  border-radius: 4px;
  box-shadow: 0 0 6px #222 ;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 2px;
  margin: 10px;
}

.message-box {
  height: 90vh;
  overflow: scroll;
  width: inherit;
  background: white ;
  color: white;
}

.message-bottom-tag {
  font-size: 11px;
}

.me {
  display: inherit;
  margin: 5px 45px 5px 20px;
}
.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}
.you {
  display: inherit;
  margin: 5px 20px 5px 45px;
  background: whitesmoke;
  color: black;
}
.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
}

.send-box{
  width: 90%;

}

@media screen and (max-width: 992px) {
  .message-box {
    height: 40vh;
  }
.send-box{
  margin: 0 auto;
  width: 80%;
}
}
