<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]='15'>
  <div *ngFor="let user of users | async">
    <sebm-google-map-marker [latitude]="user.lat" [longitude]="user.lng">
      <sebm-google-map-info-window [disableAutoPan]="true">
        <ul>
          <!-- <li>{{ (userFbObj | async)?.displayName}}</li>
          <li>{{ (userFbObj | async)?.timestamp  | date:"MM/dd/yy hh:mm a"}}</li> -->
          <li>{{user.displayName}}</li>
        </ul>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </div>
</sebm-google-map>
